@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);












#header1-1 H1 {
  font-size: 100px;
  color: #000000;
  font-family: 'Lato', sans-serif;
}
#header1-1 P {
  text-align: center;
  color: #000000;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
}
#features1-3p P {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#slider-2 H1 {
  color: #ffffff;
  text-align: right;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}
#slider-2 P {
  color: #000000;
  text-align: right;
}
#features1-b P {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#header3-1g H3 {
  color: #4c6972;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#header3-1g SPAN {
  font-size: 36px;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-3a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3a .mbr-article {
  color: #fff;
}
#gallery1-2v SMALL {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #ffffff;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-1t A {
  font-family: 'Montserrat', sans-serif;
}










#msg-box4-1m .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-1m .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-1m .mbr-article {
  color: #ffffff;
}
#msg-box4-1m .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-2f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2f .mbr-article {
  color: #ffffff;
}
#msg-box4-2f .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#msg-box4-1n .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1n .mbr-article {
  color: #ffffff;
}
#msg-box4-1n .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-1n .mbr-article DIV {
  color: #c12234;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-1t A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}









#msg-box4-1q .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-1q .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-1q .mbr-article {
  color: #ffffff;
}
#msg-box4-1q .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-28 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#msg-box4-28 .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#msg-box4-1r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1r .mbr-article {
  color: #ffffff;
}
#msg-box4-1r .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-1t A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}









#msg-box4-1v .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-1v .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-1v .mbr-article {
  color: #ffffff;
}
#msg-box4-1v .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-2e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2e .mbr-article {
  color: #ffffff;
}
#msg-box4-2e .mbr-article P {
  color: #b8312f;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-1w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#msg-box4-1w .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-1t A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}









#msg-box4-1y .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-1y .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-1y .mbr-article {
  color: #ffffff;
}
#msg-box4-1y .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-2d .mbr-header__text {
  color: #b8312f;
}
#msg-box4-2d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2d .mbr-article {
  color: #ffffff;
}
#msg-box4-2d .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#msg-box4-1z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1z .mbr-article {
  color: #ffffff;
}
#msg-box4-1z .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-1t A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}








#msg-box4-21 .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-21 .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-21 .mbr-article {
  color: #ffffff;
}
#msg-box4-21 .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-22 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-22 .mbr-article {
  color: #ffffff;
}
#msg-box4-22 .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-1t A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}








#msg-box4-24 .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-24 .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-24 .mbr-article {
  color: #ffffff;
}
#msg-box4-24 .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-25 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-25 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-25 .mbr-article {
  color: #ffffff;
}
#msg-box4-25 .mbr-article P {
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-1t A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}





#content1-2j P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: #b8312f;
}
#dropdown-menu-2btn-2h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2h .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-2h .nav .link,
#dropdown-menu-2btn-2h .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-2h .navbar,
#dropdown-menu-2btn-2h .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-2h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2h .dropdown-menu a:hover,
#dropdown-menu-2btn-2h .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-2h .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-2h A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}





#content1-2o P {
  color: #b8312f;
  font-size: 60px;
}
#content1-2o DIV {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 84px;
}
#dropdown-menu-2btn-2l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2l .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-2l .nav .link,
#dropdown-menu-2btn-2l .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-2l .navbar,
#dropdown-menu-2btn-2l .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-2l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2l .dropdown-menu a:hover,
#dropdown-menu-2btn-2l .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-2l .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-2l A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}





#dropdown-menu-2btn-2q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2q .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-2q .nav .link,
#dropdown-menu-2btn-2q .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-2q .navbar,
#dropdown-menu-2btn-2q .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-2q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2q .dropdown-menu a:hover,
#dropdown-menu-2btn-2q .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-2q .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-2q A {
  font-family: 'Montserrat', sans-serif;
}
#content5-3d .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3d .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3d .mbr-article {
  color: #fff;
}
#msg-box4-3c .mbr-header__text {
  color: #b8312f;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box4-3c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3c .mbr-article {
  color: #ffffff;
}
#msg-box4-3c .mbr-article P {
  color: #b8312f;
}
#contacts2-3e P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}







#msg-box4-32 .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-32 .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-32 .mbr-article {
  color: #ffffff;
}
#msg-box4-32 .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-33 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-article P {
  color: #b8312f;
  font-size: 20px;
}
#dropdown-menu-2btn-35 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-35 .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-35 .nav .link,
#dropdown-menu-2btn-35 .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-35 .navbar,
#dropdown-menu-2btn-35 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-35 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-35 .dropdown-menu a:hover,
#dropdown-menu-2btn-35 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-35 .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-35 A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}







#msg-box4-36 .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 30px;
}
#msg-box4-36 .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#msg-box4-36 .mbr-article {
  color: #ffffff;
}
#msg-box4-36 .mbr-article P {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-37 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-37 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-37 .mbr-article {
  color: #ffffff;
}
#msg-box4-37 .mbr-article P {
  color: #b8312f;
  font-size: 20px;
}
#dropdown-menu-2btn-39 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-39 .navbar-brand a {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-39 .nav .link,
#dropdown-menu-2btn-39 .dropdown-item {
  font-size: 1em;
  color: #b8312f;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-39 .navbar,
#dropdown-menu-2btn-39 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-39 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-39 .dropdown-menu a:hover,
#dropdown-menu-2btn-39 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-39 .navbar-toggler {
  color: #b8312f;
}
#dropdown-menu-2btn-39 A {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

.tops-stat{
    transition: transform 0.5s;
    padding-top: 20px;
}
.tops-stat:hover{
  z-index: 1;
  transform: scale(1.2) !important;
}

.hover-service{
  position: absolute;
  z-index: 1;
  display: none;
  /* background: #fff; */
  opacity: 1 !important;
}

.img-opacity{
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

#image2-v, #image2-3o, #image2-3n, #image2-3i, #image2-3l, #image2-3k, #image2-3h, #image2-3j, #image2-3g, #image2-3m{
  border-top: 2px solid #bf253a;
  border-bottom: 2px solid #bf253a;
}

.mbr-header__360_logistic{
  text-align: center;
}

.tops-span-tops{
    font-size: 36px;
    /* color: #bf2235; */
    color: #5c5c5c;
    font-weight: bold;
}

.tops-span-about{
    font-size: 36px;
    /* color: #5c5c5c; */
    color: #bf2235;
    font-weight: bold;
}
.tops-about-content{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
  font-size: 18px;
  padding: 20px;
  /* color: #bf2235; */
  color: #5c5c5c;
  margin-bottom: 50px;
}
.tops-about-texts{
  position: relative;
  display: block;
  width: 80%;
}
.top-about-readmore{
  position: relative;
  display: flex;
  width: 20%;
  justify-content: flex-end;
  text-decoration: none;
}
.top-about-readmore a, .top-about-readmore a:hover{
  text-decoration: none;
}
.ReadMoreButton{
  position: relative;
  display: block;
  padding: 12px 30px;
  border: 3px solid #bf2235;
  color: #5c5c5c;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

@media all and (max-width: 700px){
  .tops-about-content{
    flex-direction: column;
  }
  .tops-about-texts{
    width: 100%;
  }
  .top-about-readmore{
    width: 100%;
  }
  .ReadMoreButton{
    font-size: 18px;
    padding: 6px 15px;
    margin: 5px;
  }
}
@media all and (max-width: 1100px){
  .tops-about-content{
    flex-direction: column;
  }
  .tops-about-texts{
    width: 100%;
  }
  .top-about-readmore{
    width: 100%;
  }
  .ReadMoreButton{
    font-size: 18px;
    margin: 5px;
  }
}
